<center>
    <h1>Welcome!!</h1>
    <body text="#ffffff" link="#00FFFF" vlink="#00FFFF" alink="#00FFFF"></body>
    <body style="background-color:#39603D;"></body>
    <hr/>
    {% if request.session.email %}
    {{request.session.email}} &nbsp;&nbsp; <a href="{% url 'gamma-profile' %}">View Profile</a> <a href="{% url 'gamma-logout' %}">Logout</a>
    {% else %}
    <b>
        <a href="{% url 'gamma-register' %}">Register</a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="{% url 'gamma-login' %}">Login</a>
    </b>
    {% endif %}
    </center>
    