{% extends "gamma/base.html" %}
{% block content %}
    {% if user.is_authenticated %}
    <div class="d-flex justify-content-between">
      <div class="p-2"><h1 class="font-weight-bolder" style="px=32" >Activities</h1></div>
      <div class="p-2"><a class="btn btn-outline-success align-bottom" href="{% url 'post-create' %}">New Activity</a></div>
    </div>
        {% for post in posts %}
            <article class="media content-section">
              <div class="media-body">
                <a class="article-title" href="{% url 'post-detail' post.id %}"><div style="display:inline-block">{{ post.title }}</div></a>
                <a class="article-type"><div style="display:inline-block">{{ post.type }}</div></a>
                <p class="article-description">{{ post.description }}</p>
                <p class="article-rating">{{ post.rating }}/10</p>
                {% if post.type == "Run" or post.type == "Cycle" or post.type == "Swim" %}
                    <p class="article-distance">{{ post.distance }} {{ post.measurement }}</p>
                    <p class="article-time">{{ post.time }}</p>
                {% else %}
                {% endif %}
                {% if post.header_image %}
                <img src = "{{ post.header_image.url }}">
              {% endif %}
                <div class="article-metadata">
                  {% with id=post.author.id|add:"-1" %}
                  <a class="mr-2" href="{% url 'user-profile' id  %}">{{ post.author }}</a>
                  <small class="text-muted">{{ post.date_posted }}</small>
                  {% endwith %}
                </div>
              </div>
            </article>
        {% endfor %}
    {% else %}
    <h2>Home</h2>
        <b>
            <a href="{% url 'gamma-register' %}">Register</a> |
            <a href="{% url 'gamma-login' %}">Login</a>
        </b>
    {% endif %}
{% endblock content %}
    