{% extends "gamma/base.html" %}
{% block content %}
    {% if user.is_authenticated %}
    <a class="activities-title" >Activities</a>
    <a class="btn btn-outline-secondary" href="{% url 'post-create' %}">New Activity</a>
        {% for post in posts %}
            <article class="media content-section">
              <div class="media-body">
                <a class="article-title" href="{% url 'post-detail' post.id %}"><div style="display:inline-block">{{ post.title }}</div></a>
                <a class="article-type"><div style="display:inline-block">{{ post.type }}</div></a>
                <p class="article-description">{{ post.description }}</p>
                <p class="article-rating">{{ post.rating }}/10</p>
                {% if post.type == "Run" or post.type == "Cycle" or post.type == "Swim" %}
                    <p class="article-distance">{{ post.distance }} {{ post.measurement }}</p>
                {% else %}
                {% endif %}
                
                {% if post.header_image %}
                <img src = "{{ post.header_image.url }}">
              {% endif %}

                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ post.author }}</a>
                  <small class="text-muted">{{ post.date_posted }}</small>
                </div>
              </div>
            </article>
        {% endfor %}
    {% else %}
    <h1>Home</h1>
        <b>
            <a href="{% url 'gamma-register' %}">Register</a> |
            <a href="{% url 'gamma-login' %}">Login</a>
        </b>
    {% endif %}
{% endblock content %}
    