{% extends "gamma/base.html" %}
{% block content %}
    <table class="table">
      <thead>
        <tr>
          <th>Pos</th>
          <th>User</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td><a href="{% url 'user-profile' user.id %}">{{ user.user.username }}</a></td>
          <td>{{ user.points }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}