{% extends "gamma/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Login</legend>
            {{ form|crispy }}
            {{ profile_form|crispy }}
        </fieldset>
        <button type="submit">Login</button>
    
    {% if messages %}
    {% for msg in messages %}
    <b>{{msg}}</b>
    {% endfor %}
    {% endif %}
    <small>Don't have an account? <a href="{% url 'gamma-register' %}">Register</a></small>
    </form>
{% endblock content %}