<center>
    <body text="#ffffff" link="#00FFFF" vlink="#00FFFF" alink="#00FFFF"></body>
    <body style="background-color:#39603D;"></body>
    <h1>Login Page</h1>
    <hr/>
    <form method="POST">
        {% csrf_token %}
    
    Email
    <input type="text" placeholder="Enter Email.." name="email" required>
    
    <br>
    <br>
    
    Password
    <input type="password" placeholder="Enter Password.." name="password" required>
    
    <br>
    <br>
    
    <button type="submit">Login</button>
    
    {% if messages %}
    {% for msg in messages %}
    <b>{{msg}}</b>
    {% endfor %}
    {% endif %}
    </center>
    </form>