{% extends "gamma/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.is_authenticated %}
        <article class="media content-section">
          <div class="media-body">
            <a class="article-title"><div style="display:inline-block">{{ object.title }}</div></a>
            <a class="article-type"><div style="display:inline-block">
                    {% if post.type == "Run" %}
                        &#127939;
                    {% elif post.type == "Swim" %}
                        &#127946;
                    {% elif post.type == "Cycle" %}
                        &#128692;
                    {% elif post.type == "Weight Training" %}
                        &#127947;
                    {% elif post.type == "HIIT" %}
                        &#129336;
                    {% endif %}
                </div><div style="display:inline-block"><b style='color:#50c878 !important;'>{{ object.rating }}/10</b></div></a>
            <p class="article-description">{{ object.description }}</p>
            {% if object.type == "Run" or object.type == "Cycle" or object.type == "Swim" %}
                <p class="article-distance"><b>Distance: </b>{{ object.distance }} {{ object.measurement }}</p>
                <p class="article-time"><b>Time: </b>{{ object.time }}</p>
            {% else %}
            {% endif %}

            {% if post.header_image %}
              <img src = "{{ post.header_image.url }}">
            {% endif %}
            
            <div class="article-metadata">
              {% with id=post.author.id|add:"-1" %}
              <a class="mr-2" href="{% url 'user-profile' id %}">{{ object.author }}</a>
              <small class="text-muted">{{ object.date_posted }}</small>
              {% endwith %}
              {% if object.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sb mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sb mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                </div>
              {% endif %}
            </div>
          </div>
        </article>
        {% for comment in comments %}
          {% if comment.is_rating %}
            <article class="media content-section">
              <div class="media-body">
                {% with id=comment.author.id|add:"-1" %}
                  <p class="article-description"><a href="{% url 'user-profile' id %}">{{ comment.author }}</a> gave a rating of {{ comment.content }}/10.</p>
                {% endwith %}
                <div class="article-metadata">
                  <small class="text-muted">{{ object.date_posted }}</small>
                </div>
              </div>
            </article>
          {% else %}
            <article class="media content-section">
              <div class="media-body">
                <p class="article-description">{{ comment.content }}</p>
                <div class="article-metadata">
                  {% with id=comment.author.id|add:"-1" %}
                    <a class="mr-2" href="{% url 'user-profile' id %}">{{ comment.author }}</a>
                    <small class="text-muted">{{ object.date_posted }}</small>
                  {% endwith %}
                </div>
              </div>
            </article>
          {% endif %}
        {% endfor %}
        <div class="comment-section media content-section">
          <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Add a Comment</legend>
                {{ comment_form|crispy }}
            </fieldset>
            <button class="btn mb-1" type="submit" name="submit-comment">Post Comment</button>
        </form>
        </div>
        <div class="rating-section media content-section">
          <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Give a Rating</legend>
                {{ rating_form|crispy }}
            </fieldset>
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
            <button class="btn mb-1" type="submit" name="submit-rating">Rate Post</button>
        </form>
        </div>
    {% else %}
    <h1>Home</h1>
        <b>
            <a href="{% url 'gamma-register' %}">Register</a> |
            <a href="{% url 'gamma-login' %}">Login</a>
        </b>
    {% endif %}
{% endblock content %}
    