{% extends "gamma/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.is_authenticated %}
        <article class="media content-section">
          <div class="media-body">
            <a class="article-title"><div style="display:inline-block">{{ object.title }}</div></a>
            <a class="article-type"><div style="display:inline-block">{{ object.type }}</div></a>
            <a class="article-type"><div style="display:inline-block">{{ object.points }}</div></a>
            <p class="article-description">{{ object.description }}</p>
            <p class="article-rating">{{ object.rating }}/10</p>
            {% if object.type == "Run" or object.type == "Cycle" or object.type == "Swim" %}
                <p class="article-distance">{{ object.distance }} {{ object.measurement }}</p>
            {% else %}
            {% endif %}

            {% if post.header_image %}
              <img src = "{{ post.header_image.url }}">
            {% endif %}
            
            <div class="article-metadata">
              {% with id=post.author.id|add:"-1" %}
              <a class="mr-2" href="{% url 'user-profile' id %}">{{ object.author }}</a>
              <small class="text-muted">{{ object.date_posted }}</small>
              {% endwith %}
              {% if object.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sb mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sb mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                    <a class="btn btn-success" href="{% url 'post-completed' object.id %}">Completed</a>
                </div>
              {% endif %}
            </div>
          </div>
        </article>
        <div class="comment-section media content-section">
          <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Add a Comment</legend>
                {{ comment_form|crispy }}
            </fieldset>
            <button class="btn mb-1" type="submit">Post Comment</button>
        </form>
        </div>
    {% else %}
    <h1>Home</h1>
        <b>
            <a href="{% url 'gamma-register' %}">Register</a> |
            <a href="{% url 'gamma-login' %}">Login</a>
        </b>
    {% endif %}
{% endblock content %}
    