{% extends "gamma/base.html" %}
{% load crispy_forms_tags %}<!-- Creating a base to avoid repeated unnecessary code-->
{% block content %}
    {% if user.is_authenticated %}
        <div class="container-fluid">
            <div class="media">
                    <img class="rounded-circle account-img" src="{% block img %}{% endblock %}">
                    <div class="media-body">
                        <h2 class="account-heading" style="font-size: 100%">{% block user %}{% endblock %} Year:{% block year %}{% endblock %} &#127775; {% block points %}{% endblock %}</h2> <!-- This block is used to display profile info-->
                        <p class="text-secondary">{% block email %}{% endblock %}</p>
                        {% block ifstatement %}{% endblock %} <!-- This block is used to create the if statement that checks whether the a user can edit a profile (only user logged in can)-->
                    </div>
            </div>
            <h1 class="font-weight-bolder" style="font-size: 100%">{% block localname %}{% endblock %} Activities</h1>
        </div>
        {% block post %}{% endblock %}
    {% endif %}
{% endblock content %}