{% extends "gamma/profile_base.html" %} <!-- This is the template for the profile page of the user who is signed in-->
{% block img %}
    {{ user.userprofile.image.url }}
{% endblock img %}
{% block user %}
    {{ user.username }}
{% endblock user %}
{% block email %}
    {{ user.email }}
{% endblock email %}
{% block points %}
    {{ user.userprofile.points }}
{% endblock points %}
{% block ifstatement %}
    {% if user.userprofile.user == user %}
        <a class="btn btn-secondary" href="{% url 'gamma-editprofile' %}">Edit</a>
    {% endif %}
{% endblock ifstatement %}
{% block localname %}
    My
{% endblock localname %}
{% block post %}
    {% for post in posts %}
        {% if post.author == user %} <!-- Only displays posts for that user -->
            <article class="media content-section">
              <div class="media-body">
                <a class="article-title" href="{% url 'post-detail' post.id %}"><div style="display:inline-block">{{ post.title }}</div></a>
                <a class="article-type"><div style="display:inline-block">{{ post.type }}</div></a>
                <p class="article-description">{{ post.description }}</p>
                <p class="article-rating">{{ post.rating }}/10</p>
                {% if post.type == "Run" or post.type == "Cycle" or post.type == "Swim" %}
                    <p class="article-distance">{{ post.distance }} {{ post.measurement }}</p>
                {% else %}
                {% endif %}
                {% if post.header_image %}
                <img src = "{{ post.header_image.url }}">
              {% endif %}
                <div class="article-metadata">
                  {% with id=post.author.id|add:"-1" %}
                  <a class="mr-2" href="{% url 'user-profile' id  %}">{{ post.author }}</a>
                  <small class="text-muted">{{ post.date_posted }}</small>
                  {% endwith %}
                </div>
              </div>
            </article>
        {% endif %}
    {% endfor %}
{% endblock post %}