{% load crispy_forms_tags %}
<body text="#ffffff" link="#00FFFF" vlink="#00FFFF" alink="#00FFFF"></body>
    <body style="background-color:#39603D;"></body>
    <h1>Enter Your Details</h1>
    <hr/>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Register</legend>
            {{ form|crispy }}
            {{ profile_form|crispy }}
        </fieldset>
        <button type="submit">Register</button>
    
    {% if messages %}
    {% for msg in messages %}
    <b>{{msg}}</b>
    {% endfor %}
    {% endif %}
    <hr/>
    <em>If you are already registered <a href="{% url 'gamma-login' %}">Sign In</a></em>
    </form>