{% extends "gamma/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Register</legend>
            {{ form|crispy }}
            {{ profile_form|crispy }}
        </fieldset>
        <button type="submit">Register</button>
    
    {% if messages %}
    {% for msg in messages %}
    <b>{{msg}}</b>
    {% endfor %}
    {% endif %}
    <small>Already have an account? <a href="{% url 'gamma-login' %}">Sign In</a></small>
    </form>
{% endblock content %}